<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypp.itproject.mybatis.mapper.CollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypp.itproject.mybatis.entity.Collection">
        <id column="cid" property="cid" />
        <result column="uid" property="uid" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="collection_type" property="collectionType" />
        <result column="create_time" property="createTime" />
        <result column="tag" property="tag" />
        <result column="is_draft" property="isDraft" />
        <result column="cover_img" property="coverImg" />
        <result column="view" property="view" />
    </resultMap>

</mapper>
