<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypp.itproject.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypp.itproject.entity.User">
        <id column="uid" property="uid" />
        <result column="password" property="password" />
        <result column="username" property="username" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="description" property="description" />
        <result column="location" property="location" />
        <result column="create_time" property="createTime" />
        <result column="tag" property="tag" />
        <result column="phone" property="phone" />
        <result column="simple_description" property="simpleDescription" />
        <result column="education" property="education" />
        <result column="avatar" property="avatar" />
        <result column="display_name" property="displayName" />
        <result column="contact_facebook" property="contactFacebook" />
        <result column="contact_linkedin" property="contactLinkedin" />
        <result column="contact_github" property="contactGithub" />
        <result column="work" property="work" />
        <result column="skillset" property="skillset" />
        <result column="interest" property="interest" />
        <result column="award" property="award" />
    </resultMap>

</mapper>
